.cart{
    padding:40px 0;
    // background-color: #F8F8F8;
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-around;
        h1{
            font-size:2rem;
            color:#8694a4;
            font-weight: bolder;
        }
        a{
            text-decoration: none;
        }
        button{
            color:#1d77ff;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        
            .MuiSvgIcon-root{
                font-size:1rem;
                margin-right:10px;
            }
            border:none;
            cursor: pointer;
            padding:10px 20px;
            background-color: #DADFE6;
            // color:#8E9AAC;
            font-weight: bolder;
            transition: all .5s;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            &:hover{
               
                box-shadow: rgba(0, 0, 0, 0.56) 0px 12px 70px 4px;
            }
        }
        
    }
    &__items{
        display: flex;
        // align-items: center;
        // justify-content: flex-start;
        align-items: flex-start;
        justify-content: space-around;
        width: 90%;
        margin:50px auto;
   
     
        #products{
            text-align: center;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            // border-collapse: collapse;
            // border: 3px solid #ddd;
            width: 50%;
            position: relative;
        
            tr:not(:last-child){
                border-bottom: 1px solid rgb(221, 221, 221);
                
            }
        
            th{
                padding: 8px;
               
            
            }
            thead{
                tr{
                    th{
                        font-weight: bolder;
                    }
                }
            }
            tbody{
                td,th{
                    vertical-align: middle;
                    padding:8px;
                }
            }
          
            th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
           
                color: white;
                color:#111;
              }

        }
        &__item{ 

            &__amount{
                // display: flex;
                // align-items: center;
                // justify-content: space-evenly;
                // vertical-align: middle;
            
                .MuiSvgIcon-root{
                    font-size:16px;
                    color:rgb(179, 179, 179);
                    cursor: pointer;
                }
            }
            &__product{
                display: flex;
                align-items: center;
                justify-content: flex-start;
           
             
                &__image{
                    width:120px;
                    height: 80px;
                    cursor: pointer;
                    margin-right: 12px;
                    img{     
                        width:100%;
                        height:100%;
                        object-fit: cover;
                    }
                }
                  h1{
                    font-size:10px;
                    font-weight: bolder;
                }
           
            }
            
        }
    }
}